/*
  ========================================
  General style
  ========================================
*/

body
{
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 0px;
	margin: 0px;
}

div.container
{
	position: relative;
	top: 30px;
	bottom: 30px;
	padding: 0px;
	max-width: 1000px;
	margin: 0 auto;
}

/* ================== */
/* SCROLL BAR */
/* ================== */
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #FAFAFA;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FF5A5F;
    border-radius: 2px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #CCCCCC;
  }

