/*
  ========================================
  Style for places
  ========================================
*/

h1 {text-align: left; font-size: 30px; width: 100%; margin: 0px; padding-left: 15px;}

section.places
{
	margin-top: 30px;
	margin-bottom: 70px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

section.places article
{
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px;
	border-style: solid;
	border-color: #FF5A5F;
	border-radius: 4px;
}

article h2
{
	font-size: 30px;
	text-align: center;
}

div.price_by_night
{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FF5A5F;
	border: 5px;
	border-style: solid;;
	border-color: #FF5A5F;
	border-radius: 60px;
	width: 90px;
	height: 90px;
	font-size: 30px;
	position: relative;
	margin-left: 290px;
	margin-top: -90px;
	margin-bottom: 20px;
}

div.information
{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px;
	border-color: #DDDDDD;
	border-style: solid;
	border-left-width: 0px;
	border-right-width: 0px;
	max-height: 80px;
}

div.information p
{
	display: flex;
	justify-content: center;
	align-items: center;
}

div.information div.img_guest
{
	position: relative;
	top: 10px;
	left: 3px;
	height: 50px;
	width: 50px;
	margin-left: 0px;
	margin-right: 0px;
	background-image: url(/AirBnB_clone/web_static/images/icon_group.png);
}

div.information div.img_rooms
{
	position: relative;
	top: 10px;
	left: 2px;
	height: 50px;
	width: 50px;
	margin-left: 40px;
	margin-right: 40px;
	background-image: url(/AirBnB_clone/web_static/images/icon_bed.png);
}

div.information div.img_baths
{
	position: relative;
	top: 10px;
	left: -6px;
	height: 50px;
	width: 50px;
	margin-left: 20px;
	margin-right: 0px;
	background-image: url(/AirBnB_clone/web_static/images/icon_bath.png);
}

article div.amenities
{
	position: relative;
	top: 0px;
	left: -22px;
	margin-top: 40px;
	width: 100%;
	padding: 0px;
	margin-left: 22px;
	text-align: left;
}

div.description
{
	margin-bottom: 40px;
}
article div.amenities h2
{
	border-bottom: 1px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	border-color: #DDDDDD;
	margin: 0px;
	text-align: left;
	font-size: 16px;
}
