/*
  ========================================
  Style for FOOTER
  ========================================
*/

footer.Principal_footer
{
	position: fixed;
	bottom: 0px;
	margin-top: 50px;
	margin-bottom: 0px;
	z-index: 99;
	background-color: #FFFFFF;
	height: 60px;
	width: 100%;
	border-bottom-width: 0px;
	border-top-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-style: solid;
	border-color: #CCCCCC;
}

p.name
{
	text-align: center;
	padding: 7px;
}
