/*
  ========================================
  Style for HEADER
  ========================================
*/
header.Principal_header
{
	background-color: #FFFFFF;
	border-bottom-width: 1px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-style: solid;
	border-color: #CCCCCC;
	height: 70px;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

div.Logo
{
	width: 142px;
	height: 60px;
	position: absolute;
	top:  5px;
	left: 20px;
	background-image: url(/AirBnB_clone/web_static/images/Logo.png);
}

